.PlayerControls .player-buttons .col-play {
  max-width: 32px;
}

.PlayerControls .player-buttons {
  gap: 8px;
}

.PlayerControls .player-buttons > div {
  gap: 8px;
}

.PlayerControls .player-buttons div {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #b3b3b3;
}

.PlayerControls .player-buttons div:hover {
  fill: white;
}

.PlayerControls .player-buttons .play {
  border-radius: 50%;
  fill: black;
  background-color: white;
  /* gap: 8px; */
}

.PlayerControls .player-buttons .play:hover {
  fill: black;
  transform: scale(1.06);
  transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
}
.PlayerControls .Progress-Bar {
  flex-direction: row;
  line-height: 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.PlayerControls .bar {
  --seek-before-width: 0;
  appearance: none;
  background: #b3b3b3;
  border-radius: 2px;
  position: relative;
  height: 4px;
  width: 100%;
  outline: none;
}

.PlayerControls .bar::before {
  content: '';
  height: 4px;
  width: var(--seek-before-width);
  background-color: coral;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.PlayerControls .bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  position: relative;
  z-index: 4;
  box-sizing: border-box;
}

.PlayerControls .bar:active::-webkit-slider-thumb {
  transform: scale(1.1);
  background: white;
}

.PlayerControls span {
  font-size: 11px;
}
