.NowPlaying {
  height: 56px;
}

.cover-img {
  height: 56px;
  width: 56px;
  padding: 0;
}

.info {
  flex: 2;
  overflow: hidden;
}

.info-playing {
  padding: 11px 14px;
  color: white;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
}

.info-playing > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-playing > div > div{
  overflow: hidden;
  text-overflow: ellipsis;
}

div.info-playing a {
  color: #b1b1b1;
  text-decoration: none;
  font-size: smaller;
}

div.info-playing  a:hover {
  color: white;
  text-decoration: underline;
}

.like-heart {
  padding: 0px 8px;
  align-self: center;
  fill: #b1b1b1;
}

.like-heart:hover {
  fill: white;
}

.pip-toggle {
  padding: 0px 8px;
  align-self: center;
  fill: #b1b1b1;
}
.pip-toggle:hover {
  fill: white;
}
