.YourLibrary {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97%;
}

.YourLibrary h2 {
  margin: 20px 0 8px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 36px;
}

.YourLibrary span {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 24px;
}

.YourLibrary button {
  background-color: rgba(255, 255, 255, 0.95);
  color: #181818;
  border-radius: 200px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  padding: 8px 34px;
  transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
}

.YourLibrary button:hover {
  background-color: white;
  transform: scale(1.06) !important;
}
