footer {
    background-color: rgb(24, 24, 24);
    border-top: solid 1px rgb(40, 40, 40);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 90px;
    display: flex;
    align-items: center;
}

footer .row {
    height: 60px;
}