

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ============  SIDE BAR STARTS =====================*/
#menu {
  background-color: #030303;
  min-height: 100vh;
  padding-bottom: 90px;
}

#menu ul{
  list-style:none;
}

#menu ul a{
 text-decoration: none;
 color: #B1B1B1;
}

#menu ul li{   
  font-size: larger;
}

#menu ul li>:hover{   
  color: white;
}

#menu ul svg{
  color: #B1B1B1;
  width: 30px; ;
  height:30px;
}

/* HOME SIDE BAR */

#menu .sideBottom{
   color: #B1B1B1;
}

#menu .sideBottom .sign{
   background-color: white;
   color: black;
   border-color: white;
}

#menu .sideBottom .sign:hover{
  background-color: #B1B1B1;
  color: black;
  border-color: #B1B1B1;
}

#menu .sideBottom .login{
  background-color: black;
  color: #B1B1B1;
  border-color: #B1B1B1;
}

#menu .sideBottom .login:hover{
  background-color: #B1B1B1;
  color: black;
  border-color: #B1B1B1;
}

.sideBottom a{
  color: #B1B1B1;
  text-decoration: none;
}

.sideBottom a:hover{
  color: white;
  text-decoration: none;
}

.sideBottom .row>.col-6:first-of-type a:first-of-type{
  border-right: 1px solid #B1B1B1;
}

/* SIDE BAR OTHER */

#menu .sideBottom{
  color: #B1B1B1;
  padding-bottom: 60%;
}

#menu .artist-bottom{
  padding-bottom: 130%;
}

#menu .sideBottom a{
  text-decoration: none;
  color: #7a7a7a ;       
}

#menu .sideBottom a:hover{
  text-decoration: none;
  color: #9e9999 ;       
}

#menu .sideBottom svg{
  color: #7a7a7a ;    
}

.sideBottom hr{
  border-top: 1px solid #7a7a7a ;
}

.sideBottom img{
  width: 45px;
}

.sideBottom p{
  color: white;
}
/* ============  SIDE BAR ENDS =====================*/


/*============= Rabia footer  ============== */

footer {
  background-color: #282828;
  min-height: 90px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

@media screen and (max-width: 1200px){
  footer {
      background-color: #282828;
      min-height: 90px;
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 101;
  }
}

/* @media screen and (min-width: 1250px) {
  #menu{
      display: none;
  }
  
} */

/* #menu{
  display: none;
} */
  

#player svg{
  color: #7a7a7a;
}

#player svg:hover{
  color: #ccc3c3;
}

#player i{
  color: #7a7a7a;
}

#player i:hover{
  color: #ccc3c3;
}

.pause{
  visibility: hidden;  
  position: absolute;
  right: 50%;
  transform: translateX(26px);
}

.playhr{
  border-top: 2px solid #7a7a7a ;
}

.slider{
  -webkit-appearance: none;  
  appearance: none;
  height: 4px;
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

input{
  margin: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  cursor: pointer; 
}

 .slider::-webkit-slider-thumb:hover {
  width: 10px;
  height: 10px;
  background: #929191; 
  cursor: pointer; 
}


/* for other pages */
#player img{
  width: 15%;
  height: 80%;
}

.footerp{
  color: white;
  line-height: 2px;
}

#seek-slider{
  -webkit-appearance: none;  
  appearance: none;
  height: 3px;
  background: #d3d3d3; 
  outline: none; 
  width: 70%;
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

#seek-slider:hover {
  opacity: 1;
}

#seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  cursor: pointer; 
}

/*============= Rabia footer END  ============== */


/* ============ HOME STARTS ========================  */

#contentHome {
  background: linear-gradient(135deg, rgba(38,66,103,1) 20%, rgba(19,19,19,1) 100%);
  padding-bottom: 200px;
  /* overflow: hidden; */
}


/* full card */
#cardsDeck .card {
  color: white;
  background-color: rgba(24, 24, 24, 0);
  border-color: rgba(24, 24, 24, 0);
  border-radius: 0.5em;
  /* z-index: 5; */
  transform: translateX(0px);  
  transition: 1s all;

}

/* change card appearance on hover */
#cardsDeck .card:hover {
  transform: scale(1.09);
  /* box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2); */
  cursor: pointer;
  z-index: 3;
}


#queen{
  transform: translateX(0px);  
  transition: 1s all;
}

#queen:hover{
  transform: scale(1.09);
  /* box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2); */
  cursor: pointer;
  z-index: 3;
}

/* heading of cards section  */
#deckHeader>h3 {
  padding-left: 56px;
  color: white;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
}

#deckHeader>h3:hover {
  text-decoration: underline;
}

/* description of cards section  */
#deckHeader div>span {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.70);
}
/* card img  */
#cardsDeck .card img {
  /* border-radius: 5px; */
  padding: 8px;
  padding-bottom: 0;
  /* z-index: 2; */
}

.artist-cards .card :hover::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:  rgba(0,0,0,0.4);
}

/* #cardsDeck .second-row .card::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.511);
  z-index: 1;
} */

#cardsDeck .card i{
  position: absolute;
  color: rgba(255, 255, 255, 0.702);
  /* transform: scale(1); */
  top: 20px;
  left: 20px;
  z-index: 5;
}


/* in card heading (album name) */
#cardsDeck .card-body h5 {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  z-index: 3;
}
/* in card p (artist name) */
#cardsDeck .card-body p {
  font-size: 10px;
  font-weight: lighter;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.7);
}

.card-play {
  width: 40px;
  height: 40px;
  background-color: #27AE60;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 80px;
  margin: auto;
  border-radius: 50%;
  z-index: 20;
  transform: scale(0);
  transition: transform 0.1s;
}

.card-play::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 4px;
  margin: auto;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent white;
  background-color: transparent;
}

#contentHome li a{
  color:rgba(202, 198, 198, 0.73);
  font-size: 12px;
  position: relative;
  letter-spacing: 2px;
  font-weight: lighter;
}

#contentHome li a::after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #1db954;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;    
}

#contentHome li a:hover::after{
  width: 30%;
}

#contentHome li a:focus{
  color:white;
  border: none;
}

#contentHome li a:hover{
  color:white;
  border: none;
}

#contentHome .nav-tabs{
  border: none;
}

#contentHome .nav-tabs .nav-item .active{
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 650px) {
  #deckHeader {
      padding: 0px;
  }
  #deckHeader>h3 {
      font-size: 1.5em;
      /* padding-left: 0px !important; */
      /* padding-right: 0px; */
  }
  #artistHeader>h1>strong {
      font-size: 0.8em;
  }
}

@media screen and (max-width: 550px) {
  #deckHeader>h3 {
      font-size: 1.3em;
      letter-spacing: 0px;
      padding-left: 0px !important;
      padding-bottom: 15px;
  }
  #artistHeader>h1>strong {
      font-size: 0.6em;
  }
  #contentArtist .card-img-overlay {
      padding: 0;
      width: 60% !important;
  }
}    
/* 
@media screen and (max-width: 450px) {
  #deckHeader>h3 {
      font-size: 0.8em;
      letter-spacing: 0px;
  }
}     */
 

/* ============ HOME ENDS ========================  */